@mixin focus-border($color: white) {
  border: 2px solid $color;
  outline: none;

  &:focus {
    border-color: red;
  }
}

@mixin standard-btn {
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;

  @include focus-border(black);

  &:hover {
    cursor: pointer;
  }
}

@mixin view-base($h: 0) {
  display: flex;
  flex-direction: column;
  align-items: center;
  @if $h != 0 {
    justify-content: space-around;
    height: $h;
  }
}

body {
  position: relative;
  color: white;
  height: 100vh;
  margin: 0px;
  background: black;
  font-family: sans-serif;
  overflow-y: hidden;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header {
  display: flex;
  width: 97%;
  margin-top: 20px;
  margin-bottom: 90px;
}

.home {
  @include view-base();

  a {
    width: 230px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #40513b;
    padding: 10px;
    border: 1px white solid;

    &:hover {
      background-color: #609966;
      transform: scale(1.05);
    }
  }

  & > div {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px white dashed;
    margin: 10px;
  }
}

.add {
  @include view-base(300px);
  width: 700px;

  h2,
  h4 {
    margin: 0px;
  }

  input {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 90%;
    border-radius: 5px;

    @include focus-border();
  }

  & > div {
    display: flex;
    justify-content: space-between;
    width: 90%;

    & > button {
      @include standard-btn();
    }
  }
}

.delete {
  @include view-base(240px);
  width: 700px;

  & > div {
    display: flex;
    width: 65%;
    justify-content: space-evenly;

    & > button {
      @include standard-btn();
      width: 100px;
      margin-top: 10px;
    }
  }

  select {
    font-size: 17px;
    width: 150px;
    background-color: black;
    color: white;
    padding: 6px;

    @include focus-border();
  }

  #del {
    width: 250px;
  }
}

.config {
  @include view-base(300px);
  width: 90%;

  h1 {
    margin: 0px;
  }

  & > div {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

    input {
      margin-left: 30px;
      padding: 6px;
      border-radius: 5px;
      background-color: black;
      color: white;
      font-size: 18px;
      width: 70px;
      @include focus-border();
    }

    button {
      @include standard-btn();
      width: 120px;
    }
  }
}
