body {
  position: relative;
  color: white;
  height: 100vh;
  margin: 0px;
  background: black;
  font-family: sans-serif;
  overflow-y: hidden;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header {
  display: flex;
  width: 97%;
  margin-top: 20px;
  margin-bottom: 90px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    width: 230px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #40513b;
    padding: 10px;
    border: 1px white solid;

    &:hover {
      background-color: #609966;
      transform: scale(1.05);
    }
  }

  & > div {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px white dashed;
    margin: 10px;
  }
}

.add {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  align-items: center;
  width: 700px;

  h2,
  h4 {
    margin: 0px;
  }

  input {
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    width: 90%;

    &:focus {
      border-color: red;
      outline: none;
    }
  }

  & > div {
    display: flex;
    justify-content: space-between;
    width: 90%;

    & > button {
      font-size: 18px;
      padding: 10px;
      border-radius: 20px;
      border: 2px solid black;
      outline: none;

      &:hover {
        cursor: pointer;
      }
      &:focus {
        border-color: red;
      }
    }
  }
}
